@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* Offset for sticky header */
}

@layer base {
  :root {
    --background: 30 30% 97%;
    --foreground: 150 10% 18%;
    --card: 0 0% 100%;
    --card-foreground: 150 10% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 150 10% 18%;
    --primary: 13 65% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 132 17% 72%;
    --secondary-foreground: 120 15% 22%;
    --muted: 132 15% 93%;
    --muted-foreground: 120 8% 45%;
    --accent: 317 40% 92%;
    --accent-foreground: 317 40% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 132 12% 86%;
    --input: 132 10% 90%;
    --ring: 13 65% 62%;
    --chart-1: 13 65% 62%;
    --chart-2: 132 17% 52%;
    --chart-3: 317 52% 60%;
    --chart-4: 58 58% 53%;
    --chart-5: 120 11% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 10% 8%;
    --foreground: 30 30% 95%;
    --card: 150 10% 10%;
    --card-foreground: 30 30% 95%;
    --popover: 150 10% 10%;
    --popover-foreground: 30 30% 95%;
    --primary: 13 65% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 132 17% 28%;
    --secondary-foreground: 132 17% 82%;
    --muted: 150 10% 18%;
    --muted-foreground: 132 10% 58%;
    --accent: 317 30% 20%;
    --accent-foreground: 317 40% 85%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 10% 22%;
    --input: 150 10% 22%;
    --ring: 13 65% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
